
version: '3'

services:
  gomokuapp:
    container_name: gomokuapp
    build: ./
    ports:
      - "4243:4243"
    env_file:
      - gomoku-env.list
    environment:
      - RUNSERVER=true
  ui:
    container_name: ui
    build:
      context: ./ui
      args:
        VUE_APP_SERVER_HTTP: ${VUE_APP_SERVER_HTTP}
    ports:
      - "8080:8080"
    depends_on:
      - gomokuapp
