
version: '3'

services:
  gomokuapp:
    container_name: gomokuapp
    build: ./
    ports:
      - "4242:4242"
    environment: 
      - RUNSERVER=true
  ui:
    container_name: ui
    build: ./ui/
    environment:
      - VUE_APP_SERVER_HTTP=http://localhost:4242
    ports: 
      - "8080:8080"
    depends_on: 
      - gomokuapp

