- 5+ in a row to win
- 19x19 Goban
- unlimited stones
- special rules:
	- capture (ninuki-rejnu OR pente):
		- can remove a pair of opponent's stones by flanking them
		- win if you collect 10 of opponent's stones
	- game-ending capture:
		- player that aligns 5 stones only wins AFTER it's determined:
			- opponent cannot break it by capturing pair
			- opponent has already lost four pairs and opponent can capture another one (?????????)
	- double-threes:
		- forbidden to play a move that introduces two free-three alignments
- human can play against AI
	- AI must adapt its strategy to player's moves
- human can play against another human
	- need move-suggestion feature
- AI will use Min-Max algo to generate a possible-solution tree and thus choose best move
- Min-Max will need a heuristic to evaluate value of terminal node in tree
- need GUI
	- must be "vaguely pleasing" and easily playable
	- must have TIMER that shows how long AI takes to find next move
- implement DEBUGGING that lets you examine reasoning of AI while running

- tie thing?